<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <style>
        ul {
            list-style: none;
            margin: 0;
            display: inline-block;
        }


        li {
            margin-bottom: 15px;
        }


        li a {
            background-color: #59c3ff;
            border-radius: 5px;
            padding: 5px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #2fb4fc;
            color: white;
        }


    </style>

</head>
<body>

<ul>
    <li><a href="/client/all">All Clients</a></li>
    <li><a href="/personal/all">All Personal</a></li>
    <li><a href="/personal/add">Add New Personal</a></li>
    <li><a href="/personal/graphic/add">Add Graphics</a></li>
    <li><a href="/menu"> Menu </a></li>

</ul>

</body>
</html>