<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <style>
        ul {
            list-style: none;
            margin: 0;
            display: inline-block;
        }


        li {
            margin-bottom: 15px;
        }


        li a {
            background-color: #59c3ff;
            border-radius: 5px;
            padding: 5px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #2fb4fc;
            color: white;
        }


    </style>

</head>
<body>

<ul>
    <li><a href="/order/add/client">Create order</a></li>
    <li><a href="/menu"> Menu </a></li>
    <li><a href="/registration">Registration</a></li>
    <li><a href="/login">Login</a></li>

    <li th:if="${user != null}">
        <div th:each="role:${user.getRoles()}">
            <a th:if="${role.getName().name().equals('ROLE_ADMIN')}" href="/admin">Admin</a>
            <a th:if="${role.getName().name().equals('ROLE_PERSONAL')}" href="/admin">Personal</a>
        </div>
    </li>

</ul>

</body>
</html>